* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  display: grid;
  grid-template-columns: 20px 1fr 20px;
  justify-items: center;
}

.App > .content {
  grid-column: 2;
  display: flex;
  flex-direction: column;
}